<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
      <key>method</key>
      <string>app-store</string>
      <key>signingStyle</key>
      <string>manual</string>
      <key>teamID</key>
      <string>A7W54YZ4WU</string>
      <key>uploadSymbols</key>
      <true/>
      <key>compileBitcode</key>
      <false/>
      <key>thinning</key>
      <string>none</string>
      <key>destination</key>
      <string>export</string>
      <key>provisioningProfiles</key>
      <dict>
          <key>io.nomadwallet.nomadwallet</key>
          <string>match AppStore io.nomadwallet.nomadwallet</string>
          <key>io.nomadwallet.nomadwallet.watch</key>
          <string>match AppStore io.nomadwallet.nomadwallet.watch</string>
          <key>io.nomadwallet.nomadwallet.watch.extension</key>
          <string>match AppStore io.nomadwallet.nomadwallet.watch.extension</string>
          <key>io.nomadwallet.nomadwallet.Stickers</key>
          <string>match AppStore io.nomadwallet.nomadwallet.Stickers</string>
          <key>io.nomadwallet.nomadwallet.MarketWidget</key>
          <string>match AppStore io.nomadwallet.nomadwallet.MarketWidget</string>
      </dict>
  </dict>
</plist>